<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="${title}">Title</title>
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css"/>-->
<!--
    <link href="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css"
          rel="stylesheet"
          integrity="sha384-G87n9a15LEsz+OvKCr10ldEbckfbCpr2gjYnZgCiKiwH0p/If1QkSURCTzubbt19"
          crossorigin="anonymous"/>
-->
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          href="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="http://www.thymeleaf.org"> Thymeleaf - Plain </a>
            <ul class="nav">
                <li><a th:href="@{/}" href="home.html"> Home </a></li>
            </ul>
        </div>
    </div>
    <h1 th:text="${title}">__title__</h1>
    <div th:text="${message}">__message__</div>
    <div id="created" th:text="${#dates.format(date)}">__date__</div>
    <div th:text="${#authentication.name}">__username__</div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/pages/admin}">to admin page</a>
    </div>
    <div sec:authorize="hasRole('USER')">
        <a th:href="@{/pages/user}">to user page</a>
    </div>
    <a th:href="@{/pages/guest}">to guest page</a>
    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
            src="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <!--
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap.min.js"
                integrity="sha384-2sVosMIQw67h8RBCTmE20BSl9j66nWwbH+2W/CKr8celILSNnEfJnJv2PKCdet3I"
                crossorigin="anonymous"></script>
    -->
<!--
    <script>
        $.ajax('/pages/admin')
        .done(function(data, textStatus, jqXHR){console.log(data, textStatus, jqXHR)})
        .fail(function(jqXHR, textStatus, errorThrown){console.log(jqXHR, textStatus, errorThrown)});
        $.ajax('/pages/user')
        .done(function(data, textStatus, jqXHR){console.log(data, textStatus, jqXHR)})
        .fail(function(jqXHR, textStatus, errorThrown){console.log(jqXHR, textStatus, errorThrown)});
        $.ajax('/pages/guest')
        .done(function(data, textStatus, jqXHR){console.log(data, textStatus, jqXHR)})
        .fail(function(jqXHR, textStatus, errorThrown){console.log(jqXHR, textStatus, errorThrown)});
    </script>
-->
<!--
    <script>
        $.ajax({url: '/api/books', type: 'GET'})
        .done(function(data, textStatus, jqXHR){console.log("GET /api/books", data)})
        .fail(function(jqXHR, textStatus, errorThrown){console.log("GET /api/books", jqXHR)});
        $.ajax({url: '/api/books', type: 'POST'})
        .done(function(data, textStatus, jqXHR){console.log("POST /api/books", data)})
        .fail(function(jqXHR, textStatus, errorThrown){console.log("POST /api/books", jqXHR)});
    </script>
-->
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>
