<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css"/>-->
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          href="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"/>
</head>
<body onload="document.form.username.focus();">
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="http://www.thymeleaf.org"> Thymeleaf - Plain </a>
            <ul class="nav">
                <li><a th:href="@{/}" href="home.html"> Home </a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <p th:if="${param.logout}" class="alert">You have been logged out</p>
        <p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
        <h2>Login with Username and Password</h2>
        <form name="form" th:action="@{/login}" action="/login" method="POST">
            <fieldset>
                <input type="text" name="username" value="" placeholder="Username"/>
                <input type="password" name="password" placeholder="Password"/>
            </fieldset>
            <input type="submit" id="login" value="Login"
                   class="btn btn-primary"/>
        </form>
        <!-- webjarsの確認用 -->
        <script th:src="@{/webjars/jquery/jquery.min.js}"
                src="https://code.jquery.com/jquery-1.9.0.min.js"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
                src="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    </div>
</div>
</body>
</html>